# Filtering ReadTables based on cell barcode

In [46]:
## ANALYSIS WITH ONLY 50M READS OF THE SAMPLE BARCODE FASTQ FILE ##

setwd("/project/ABKlab/Natalia/sc-RNA-seq/single_TLS_project")

# Reading gene-cell matrix output from Cell Ranger

# install.packages("Matrix")
library(Matrix)
library("deMULTIplex")

## 48h (readTable1)

In [47]:
matrix_dir = "./raw_data/cellranger_results/cr-count_mm10_JV-RNA-1/outs/filtered_feature_bc_matrix/"
barcode.path <- paste0(matrix_dir, "barcodes.tsv.gz")
features.path <- paste0(matrix_dir, "features.tsv.gz")
matrix.path <- paste0(matrix_dir, "matrix.mtx.gz")
mat <- readMM(file = matrix.path)
feature.names = read.delim(features.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
barcode.names = read.delim(barcode.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
colnames(mat) = barcode.names$V1
rownames(mat) = feature.names$V1

In [48]:
cellbarcode1 <- colnames(mat)
head(cellbarcode1)

[1] "AAACCCAAGTTCTACG-1" "AAACCCACACAAGGTG-1" "AAACCCACAGCGGTCT-1"
[4] "AAACCCACAGCTGGTC-1" "AAACCCAGTACCGGCT-1" "AAACCCAGTCGTTGCG-1"

In [49]:
cellbarcode1 <- colnames(mat)
cellbarcode1 <- substr(cellbarcode1,1,nchar(cellbarcode1)-2)
head(cellbarcode1)

[1] "AAACCCAAGTTCTACG" "AAACCCACACAAGGTG" "AAACCCACAGCGGTCT" "AAACCCACAGCTGGTC"
[5] "AAACCCAGTACCGGCT" "AAACCCAGTCGTTGCG"

In [50]:
# Read table from MULTIplex first step
library("deMULTIplex")
readTable_1_filtered <- readRDS(file = "files/readTable_1_filtered.rds", refhook = NULL)


head(readTable_1_filtered)
class(readTable_1_filtered)
str(readTable_1_filtered)
# filter readTable with Cell Ranger cell barcodes that are kept.
readTable_1_filtered <- readTable_1_filtered[readTable_1_filtered$Cell %in% cellbarcode1 ,]

   Cell             UMI          Sample
1  TGATTTCCACCGTCTT CTTACTATCAGT GCACACGC
3  AGTCAACAGCTGAGCA AGCCCCCGAATA TGCTACAG
14 ATACCGACAGAACATA GAGTCATCAAAA CGAGATTC
18 GGAGGATGTCAGACTT GCACCGAATCGA TGACCGAT
20 AGCGCTGGTAGCTAAA GCAACCTGATGA TAAGGCTC
30 GACTATGTCGCTCCTA TATGTTGATGCG TGACCGAT

[1] "data.frame"

'data.frame':	12729460 obs. of  3 variables:
 $ Cell  : chr  "TGATTTCCACCGTCTT" "AGTCAACAGCTGAGCA" "ATACCGACAGAACATA" "GGAGGATGTCAGACTT" ...
 $ UMI   : chr  "CTTACTATCAGT" "AGCCCCCGAATA" "GAGTCATCAAAA" "GCACCGAATCGA" ...
 $ Sample: chr  "GCACACGC" "TGCTACAG" "CGAGATTC" "TGACCGAT" ...

In [51]:
# save readTable_filtered
saveRDS(readTable_1_filtered, file = "files/readTable_1_filtered.rds")
saveRDS(cellbarcode, file = "files/cellbarcode_1.rds")

## 72h (readTable2)

In [52]:
matrix_dir = "./raw_data/cellranger_results/cr-count_mm10_JV-RNA-2/outs/filtered_feature_bc_matrix/"
barcode.path <- paste0(matrix_dir, "barcodes.tsv.gz")
features.path <- paste0(matrix_dir, "features.tsv.gz")
matrix.path <- paste0(matrix_dir, "matrix.mtx.gz")
mat <- readMM(file = matrix.path)
feature.names = read.delim(features.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
barcode.names = read.delim(barcode.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
colnames(mat) = barcode.names$V1
rownames(mat) = feature.names$V1


cellbarcode2 <- colnames(mat)
cellbarcode2 <- substr(cellbarcode2,1,nchar(cellbarcode2)-2)
head(cellbarcode2)

[1] "AAACCCACACGTCATA" "AAACCCACATCCTTGC" "AAACCCACATTAAGCC" "AAACCCACATTGTCGA"
[5] "AAACCCAGTAGTCTTG" "AAACCCAGTCCTCATC"

In [53]:
# Read table from MULTIplex first step
library("deMULTIplex")
readTable_2_filtered <- readRDS(file = "files/readTable_2_filtered.rds", refhook = NULL)


head(readTable_2_filtered)
class(readTable_2_filtered)
str(readTable_2_filtered)
# filter readTable with Cell Ranger cell barcodes that are kept.
readTable_2_filtered <- readTable_2_filtered[readTable_2_filtered$Cell %in% cellbarcode2 ,]

   Cell             UMI          Sample
14 TTCACGCTCTAATTCC GGACATAATACG TCCTTCCT
19 GAGCCTGAGCCACCGT GTCGGAATTAAA TAACTGGC
22 ATGGTTGGTTGTCAGT CTTTCTCCCGAT GCAACGCC
40 CTAACCCCACCCGTAG CTCAGATTTTTG AACTGGCT
43 CTTGATTAGACATAGT AATCAGGGCATA GAACTCTG
75 CGCAGGTAGACGACTG CCCGAAAACCAA ACAGTGCT

[1] "data.frame"

'data.frame':	4471297 obs. of  3 variables:
 $ Cell  : chr  "TTCACGCTCTAATTCC" "GAGCCTGAGCCACCGT" "ATGGTTGGTTGTCAGT" "CTAACCCCACCCGTAG" ...
 $ UMI   : chr  "GGACATAATACG" "GTCGGAATTAAA" "CTTTCTCCCGAT" "CTCAGATTTTTG" ...
 $ Sample: chr  "TCCTTCCT" "TAACTGGC" "GCAACGCC" "AACTGGCT" ...

In [54]:
# save readTable_filtered
saveRDS(readTable_2_filtered, file = "files/readTable_2_filtered.rds")
saveRDS(cellbarcode2, file = "files/cellbarcode_2.rds")

## 96h (readTable3)

In [55]:
matrix_dir = "./raw_data/cellranger_results/cr-count_mm10_JV-RNA-3/outs/filtered_feature_bc_matrix/"
barcode.path <- paste0(matrix_dir, "barcodes.tsv.gz")
features.path <- paste0(matrix_dir, "features.tsv.gz")
matrix.path <- paste0(matrix_dir, "matrix.mtx.gz")
mat <- readMM(file = matrix.path)
feature.names = read.delim(features.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
barcode.names = read.delim(barcode.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
colnames(mat) = barcode.names$V1
rownames(mat) = feature.names$V1


cellbarcode3 <- colnames(mat)
cellbarcode3 <- substr(cellbarcode3,1,nchar(cellbarcode3)-2)
head(cellbarcode3)

[1] "AAACCCAAGTGGAAAG" "AAACCCACACTACTTT" "AAACCCAGTAAGGCCA" "AAACCCATCCACAGGC"
[5] "AAACCCATCGGTCACG" "AAACCCATCTGCATGA"

In [56]:
# Read table from MULTIplex first step
library("deMULTIplex")
readTable_3_filtered <- readRDS(file = "files/readTable_3_filtered.rds", refhook = NULL)


head(readTable_3_filtered)
class(readTable_3_filtered)
str(readTable_3_filtered)
# filter readTable with Cell Ranger cell barcodes that are kept.
readTable_3_filtered <- readTable_3_filtered[readTable_3_filtered$Cell %in% cellbarcode3 ,]

   Cell             UMI          Sample
14 GTAGGAGAGTTTCGAC GTGTTTCTTAGA AGCTAGTC
38 TTTCACACATAGAATG CCACTTTAATAG CAATCGGT
48 ATGGGTTAGACGGTTG AAGCTGAAGTAC TGCGCGTG
49 GAGCCTGTCTTCCTAA TCACGAAGACCC TACTGCGA
50 AGATCCAAGCCGAATG AAAATTTTAATG CACGTATG
56 ACTTATCGTGAGCAGT TTTCCCTCAGTT CAATCGGT

[1] "data.frame"

'data.frame':	5293586 obs. of  3 variables:
 $ Cell  : chr  "GTAGGAGAGTTTCGAC" "TTTCACACATAGAATG" "ATGGGTTAGACGGTTG" "GAGCCTGTCTTCCTAA" ...
 $ UMI   : chr  "GTGTTTCTTAGA" "CCACTTTAATAG" "AAGCTGAAGTAC" "TCACGAAGACCC" ...
 $ Sample: chr  "AGCTAGTC" "CAATCGGT" "TGCGCGTG" "TACTGCGA" ...

In [57]:
# save readTable_filtered
saveRDS(readTable_3_filtered, file = "files/readTable_3_filtered.rds")
saveRDS(cellbarcode3, file = "files/cellbarcode_3.rds")

## 120h_1 (readTable4)

In [58]:
matrix_dir = "./raw_data/cellranger_results/cr-count_mm10_JV-RNA-4/outs/filtered_feature_bc_matrix/"
barcode.path <- paste0(matrix_dir, "barcodes.tsv.gz")
features.path <- paste0(matrix_dir, "features.tsv.gz")
matrix.path <- paste0(matrix_dir, "matrix.mtx.gz")
mat <- readMM(file = matrix.path)
feature.names = read.delim(features.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
barcode.names = read.delim(barcode.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
colnames(mat) = barcode.names$V1
rownames(mat) = feature.names$V1


cellbarcode4 <- colnames(mat)
cellbarcode4 <- substr(cellbarcode4,1,nchar(cellbarcode4)-2)
head(cellbarcode4)

[1] "AAACCCAAGATACATG" "AAACCCAAGATTGTGA" "AAACCCAAGCAGCCTC" "AAACCCAAGCCTATTG"
[5] "AAACCCAAGCTGAAGC" "AAACCCAAGGTCCTGC"

In [59]:
# Read table from MULTIplex first step
library("deMULTIplex")
readTable_4_filtered <- readRDS(file = "files/readTable_4_filtered.rds", refhook = NULL)


head(readTable_4_filtered)
class(readTable_4_filtered)
str(readTable_4_filtered)
# filter readTable with Cell Ranger cell barcodes that are kept.
readTable_4_filtered <- readTable_4_filtered[readTable_4_filtered$Cell %in% cellbarcode4 ,]

   Cell             UMI          Sample
13 CATCCACGTGTACATC CCCGCAAAGCTG ACATGCGT
14 ATTTCTGCAAATCCCA TACACACTACAA CACACGCG
16 TGATCAGGTATGTGTC ATAACTACAGTG ATCTCGGA
18 GTACAACTCACGATCA CCGCCAAATGCA CACACGCG
20 CGGAGAATCCAGTTCC GAACAAAAGCAC TGAGACCT
35 GAGAGGTCAGGCAATG CATGTATATGCC CGATTGAC

[1] "data.frame"

'data.frame':	13574339 obs. of  3 variables:
 $ Cell  : chr  "CATCCACGTGTACATC" "ATTTCTGCAAATCCCA" "TGATCAGGTATGTGTC" "GTACAACTCACGATCA" ...
 $ UMI   : chr  "CCCGCAAAGCTG" "TACACACTACAA" "ATAACTACAGTG" "CCGCCAAATGCA" ...
 $ Sample: chr  "ACATGCGT" "CACACGCG" "ATCTCGGA" "CACACGCG" ...

In [60]:
# save readTable_filtered
saveRDS(readTable_4_filtered, file = "files/readTable_4_filtered.rds")
saveRDS(cellbarcode4, file = "files/cellbarcode_4.rds")

## 120h_2 (readTable5)

In [61]:
matrix_dir = "./raw_data/cellranger_results/cr-count_mm10_JV-RNA-5/outs/filtered_feature_bc_matrix/"
barcode.path <- paste0(matrix_dir, "barcodes.tsv.gz")
features.path <- paste0(matrix_dir, "features.tsv.gz")
matrix.path <- paste0(matrix_dir, "matrix.mtx.gz")
mat <- readMM(file = matrix.path)
feature.names = read.delim(features.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
barcode.names = read.delim(barcode.path,
                           header = FALSE,
                           stringsAsFactors = FALSE)
colnames(mat) = barcode.names$V1
rownames(mat) = feature.names$V1


cellbarcode5 <- colnames(mat)
cellbarcode5 <- substr(cellbarcode5,1,nchar(cellbarcode5)-2)
head(cellbarcode5)

[1] "AAACCCAAGAAGTCCG" "AAACCCAAGACAACTA" "AAACCCAAGAGCAGCT" "AAACCCACACTTGAGT"
[5] "AAACCCACAGGACTAG" "AAACCCAGTATCCCTC"

In [62]:
# Read table from MULTIplex first step
library("deMULTIplex")
readTable_5_filtered <- readRDS(file = "files/readTable_5_filtered.rds", refhook = NULL)


head(readTable_5_filtered)
class(readTable_5_filtered)
str(readTable_5_filtered)
# filter readTable with Cell Ranger cell barcodes that are kept.
readTable_5_filtered <- readTable_5_filtered[readTable_5_filtered$Cell %in% cellbarcode5 ,]

   Cell             UMI          Sample
12 ATGCGATAGAGCTGAC CAGTGCTTGGCC CACGTATG
13 CCGGTAGAGGCGTTAG AACACAGGTGTT AGCATCAC
16 TCTATCAAGTCGGCCT GCCTTGATACCT GCAACGCC
17 ATACCTTAGGATATGT CCGGATGCAGAT GTCGGCTG
24 TGAATGCTCTCTCAAT GAACCCATGTCT CACGTATG
28 TGCTCCACACGGCGTT CCCTCTTCAGTC CACGTATG

[1] "data.frame"

'data.frame':	11313233 obs. of  3 variables:
 $ Cell  : chr  "ATGCGATAGAGCTGAC" "CCGGTAGAGGCGTTAG" "TCTATCAAGTCGGCCT" "ATACCTTAGGATATGT" ...
 $ UMI   : chr  "CAGTGCTTGGCC" "AACACAGGTGTT" "GCCTTGATACCT" "CCGGATGCAGAT" ...
 $ Sample: chr  "CACGTATG" "AGCATCAC" "GCAACGCC" "GTCGGCTG" ...

In [63]:
# save readTable_filtered
saveRDS(readTable_5_filtered, file = "files/readTable_5_filtered.rds")
saveRDS(cellbarcode5, file = "files/cellbarcode_5.rds")

# MULTIseq alignments

This is the way it is done but better to paralelize the job

In [64]:
setwd("/project/ABKlab/Natalia/sc-RNA-seq/single_TLS_project")

library("deMULTIplex")

cell.id.vec <- read.table("../whitelist/3M-february-2018.txt")
cell.id.vec <- as.vector(cell.id.vec$V1)
str(cell.id.vec)

 chr [1:6794880] "AAACCCAAGAAACACT" "AAACCCAAGAAACCAT" "AAACCCAAGAAACCCA" ...

In [65]:
barcodes_48h <- readRDS("./files/barcodes_48h.rds")
barcodes_72h <- readRDS("./files/barcodes_72h.rds")
barcodes_96h <- readRDS("./files/barcodes_96h.rds")
barcodes_120h <- readRDS("./files/barcodes_120h.rds")

In [66]:
readTable_1_filtered <- readRDS("./files/readTable_1_filtered.rds")
readTable_2_filtered <- readRDS("./files/readTable_2_filtered.rds")
readTable_3_filtered <- readRDS("./files/readTable_3_filtered.rds")
readTable_4_filtered <- readRDS("./files/readTable_4_filtered.rds")
readTable_5_filtered <- readRDS("./files/readTable_5_filtered.rds")

In [69]:
head(cellbarcode5)
length(cellbarcode5)

[1] "AAACCCAAGAAGTCCG" "AAACCCAAGACAACTA" "AAACCCAAGAGCAGCT" "AAACCCACACTTGAGT"
[5] "AAACCCACAGGACTAG" "AAACCCAGTATCCCTC"

[1] 12750

In [75]:
head(readTable_1_filtered)
dim(readTable_1_filtered)

head(cellbarcode1)
length(cellbarcode1)

head(barcodes_48h)
length(barcodes_48h)

   Cell             UMI          Sample
1  TGATTTCCACCGTCTT CTTACTATCAGT GCACACGC
3  AGTCAACAGCTGAGCA AGCCCCCGAATA TGCTACAG
14 ATACCGACAGAACATA GAGTCATCAAAA CGAGATTC
18 GGAGGATGTCAGACTT GCACCGAATCGA TGACCGAT
20 AGCGCTGGTAGCTAAA GCAACCTGATGA TAAGGCTC
30 GACTATGTCGCTCCTA TATGTTGATGCG TGACCGAT

[1] 12729460        3

[1] "AAACCCAAGTTCTACG" "AAACCCACACAAGGTG" "AAACCCACAGCGGTCT" "AAACCCACAGCTGGTC"
[5] "AAACCCAGTACCGGCT" "AAACCCAGTCGTTGCG"

[1] 9293

[1] "CCACAATG" "TGAGACCT" "GCACACGC" "AGAGAGAG" "TCACAGCA" "GAAAAGGG"

[1] 72

In [76]:
library("deMULTIplex")

In [77]:
## Perform MULTI-seq sample barcode alignment
bar.table_1 <- MULTIseq.align(readTable_1_filtered, cellbarcode1, barcodes_48h)
saveRDS(bar.table_1, file = "./files/bartable_1.rds")

In [71]:
bar.table_2 <- MULTIseq.align(readTable_2_filtered, cellbarcode2, barcodes_72h)
saveRDS(bar.table_2, file = "./files/bartable_2.rds")

bar.table_3 <- MULTIseq.align(readTable_3_filtered, cellbarcode3, barcodes_96h)
saveRDS(bar.table_3, file = "./files/bartable_3.rds")

bar.table_4 <- MULTIseq.align(readTable_4_filtered, cellbarcode4, barcodes_120h)
saveRDS(bar.table_4, file = "./files/bartable_4.rds")

bar.table_5 <- MULTIseq.align(readTable_5_filtered, cellbarcode5, barcodes_120h)
saveRDS(bar.table_5, file = "./files/bartable_5.rds")

ERROR: Error in h(simpleError(msg, call)): error in evaluating the argument 'x' in selecting a method for function 'head': object 'bar.table_5' not found

# Demultiplexing 48h

In [ ]:
## Visualize barcode space
bar.tsne_1 <- barTSNE(bar.table_1[,1:3]) 
## Note: Exclude columns 97:98 (assuming 96 barcodes were used) which provide total barcode UMI counts for each cell. 

pdf("./outputs/MULTIseq/bar.tsne_1.check.pdf")
for (i in 3:ncol(bar.tsne_1)) {
  g <- ggplot(bar.tsne_1, aes(x = TSNE1, y = TSNE2, color = bar.tsne_1[,i])) +
    geom_point() +
    scale_color_gradient(low = "black", high = "red") +
    ggtitle(colnames(bar.tsne_1)[i]) +
    theme(legend.position = "none") 
  print(g)
}
dev.off()

In [ ]:
print(g)

In [ ]:
head(bar.table_5)